<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="checkTime" value="1"/>
        <add key="httpTimeout" value="3"/>
        <add key="pingTimeout" value="10"/>
        
        <add key="telegramToken" value="5454918368:AAGYbLoEqfj5OfDoaU4QYCj4WmV2v3gGImU"/>

		<add key="emailSubject" value="Server Health Notice"/>
        <add key="senderEmail" value="SENDER_EMAIL"/>
		<add key="senderName" value="Server Health Check Daemon"/>
        <add key="senderUsername" value="SENDER_USERNAME"/>
        <add key="senderPassword" value="SENDER_PASSWORD"/>
        <add key="smtpHost" value="SMTP_HOST"/>
        <add key="smtpPort" value="SMTP_PORT"/>
        
        <add key="errorMessage" value="Hi there 👋, it seems that your server - [SERVER_ADDRESS] - had a problem on [DATE] ⚠️"/>
        <add key="solveMessage" value="Hi there 👋, it seems that your server - [SERVER_ADDRESS] - returned online on [DATE] ✅"/>
    </appSettings>  
    <connectionStrings>
        <add name="mysql_server_check" connectionString="server=localhost;port=3306;userid=root;password=root;database=server_check"/>
    </connectionStrings>
</configuration>
